In [ ]:
import numpy as np

In [ ]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]], int)

for i in range (3):
  print(a[i][i])

1
5
9

In [ ]:
print(a[..., 1])

[2 5 8]

In [ ]:
x = a
print(x.shape)
x = x.flatten()
print(x.shape)

(3, 3)
(9,)

In [ ]:
for i in range(3):
  for j in range(3):
    print(a[j][i])

1
4
7
2
5
8
3
6
9