In [2]:
# Подключаем библиотеки
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [5]:
# Загружаем датасет
from google.colab import files
uploaded = files.upload()

Saving wine.csv to wine.csv

In [6]:
train = pd.read_csv('wine.csv')
train.head

<bound method NDFrame.head of       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol quality
0         9.4     bad
1         9.8     bad
2         9.8     bad
3         9.8    good
4         9.4     bad
...       ...     ...
1594     10.5     bad
1595     11.2    good
1596     11.0    good
1597     10.2     bad
1598     11.0    good

[1599 rows x 12 columns]>

In [7]:
# Размерность датафрейма
print(train.shape)
# Типы данных
print(train.info())
# Пропуски
print(train.isna().sum())

(1599, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   object
dtypes: float64(11), object(1)
memory usage: 150.0+ KB
None
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [8]:
# Преобразуем quality в двоичный тип данных, это единственный категориальный признак
train = pd.get_dummies(train, columns=['quality'])
train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality_bad,quality_good
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,1,0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,1,0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,1,0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,0,1
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,1,0
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,0,1
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,0,1
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,1,0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,0,1

In [9]:
%%time
from sklearn.model_selection import train_test_split
# Разделим на выборки
X = train.drop(['quality_good', 'quality_bad'], axis=1)
y = train['quality_good']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)
# Логистическая регрессия
model = LogisticRegression()
# Обучение модели
model.fit(X_train, y_train)
# Модель предсказывает ответы
answers_pred = model.predict(X_test)

CPU times: user 81 ms, sys: 75.5 ms, total: 156 ms
Wall time: 98.7 ms

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [10]:
# Оцениваем работу модели
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,answers_pred))

0.75625

In [19]:
# Уравнение регрессии
[print(coef, end = " + ") for coef in model.coef_[0]]
print(model.intercept_[0])

0.008092632222237836 + -3.2478573164955717 + -0.82165255145475 + 0.046924103494898256 + -1.5082667476374065 + 0.025583823529979816 + -0.018666923859106486 + -1.187743259711837 + -1.1497416240684948 + 1.7816102315064617 + 0.8101828342314221 + -2.064053283071409

Результат: Данные предсказаны вполне неплохо, но могло бы быть и лучше. Возможно проблема заключалась в том что некоторые данные могли быть лучше преобразованы. Наибольшее влияние на предсказание оказали значения **volatile_acidity** и **alcohol**.