In [28]:
import pandas as pd
from google.colab import files
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

# Исследование и обработка данных

In [48]:
uploaded = files.upload()
train=pd.read_csv('income_evaluation.csv' )

Saving income_evaluation.csv to income_evaluation (2).csv

In [47]:
train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,7,77516,9,13,4,1,1,4,0,2174,0,40,39,0
1,50,6,83311,9,13,2,4,0,4,0,0,0,13,39,0
2,38,4,215646,11,9,0,6,1,4,0,0,0,40,39,0
3,53,4,234721,1,7,2,6,0,2,0,0,0,40,39,0
4,28,4,338409,9,13,2,10,5,2,1,0,0,40,5,0

In [31]:
print(train.info())
print('-'*50)
train.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlwgt          32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None
--------------------------------------------------

(32561, 15)

In [32]:
# df.isna() - проверку на пустые значение
print(train.isna().sum())

age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 income            0
dtype: int64

классификация бинарная, т.к есть два варинта

In [33]:
#смотрим какие категориальные признаки есть в датасете

print(train[' income'].unique())
print('_'*70)
print(train[' workclass'].unique())
print('_'*70)
print(train[' education'].unique())
print('_'*70)
print(train[' marital-status'].unique())
print('_'*70)
print(train[' occupation'].unique())
print('_'*70)
print(train[' relationship'].unique())
print('_'*70)
print(train[' race'].unique())
print('_'*70)
print(train[' sex'].unique())
print('_'*70)
print(train[' native-country'].unique())
print('_'*70)

#посмотрев на категориальные признаки, можно сделать вывод, что использования способа get_dummies не является наиболее рациональным.

[' <=50K' ' >50K']
______________________________________________________________________
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']
______________________________________________________________________
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']
______________________________________________________________________
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
______________________________________________________________________
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']
______________________________________________________________________
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
______________________________________________________________________
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
______________________________________________________________________
[' Male' ' Female']
______________________________________________________________________
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']
______________________________________________________________________

In [34]:
d={' <=50K' : 0, ' >50K': 1}
train[' income']=train[' income'].map(d)
d={' Male' : 0, ' Female': 1}
train[' sex']=train[' sex'].map(d)

In [35]:
# преобразуем целевую переменную из категориальной


# Создадим модель кодировщика
label_encoder = preprocessing.LabelEncoder() 

# Обучение кодировщика: по сути тут создает словарь уникальных слов из переданного массива, 
# соотносит для каждого слова число (все что делали выше мы, только тут автоматизированно)
label_encoder.fit(train[' workclass']) 

# на этом этапе по сути применяет полученный словарь в переданным данных (в данном случае мы передали столбец region)
train[' workclass'] = label_encoder.transform(train[' workclass'])

In [36]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' education']) 
train[' education'] = label_encoder.transform(train[' education'])

In [37]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' marital-status']) 
train[' marital-status'] = label_encoder.transform(train[' marital-status'])

In [38]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' occupation']) 
train[' occupation'] = label_encoder.transform(train[' occupation'])

In [39]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' relationship']) 
train[' relationship'] = label_encoder.transform(train[' relationship'])

In [40]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' race']) 
train[' race'] = label_encoder.transform(train[' race'])

In [41]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' native-country']) 
train[' native-country'] = label_encoder.transform(train[' native-country'])

In [42]:
train.dtypes

age                int64
 workclass         int64
 fnlwgt            int64
 education         int64
 education-num     int64
 marital-status    int64
 occupation        int64
 relationship      int64
 race              int64
 sex               int64
 capital-gain      int64
 capital-loss      int64
 hours-per-week    int64
 native-country    int64
 income            int64
dtype: object

# реализация модели логистической регрессии

In [44]:
# train - на тренировочные и тестовые
X = train.drop([' income'], axis=1)
y = train[' income']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

model = LogisticRegression()

# модель учится, для этого ей нужны правильные
model.fit(X_train, y_train)

# тестируем, для признаков у которых нет ответов, мы предсказывает ответ
answers_pred = model.predict(X_test)

In [45]:
# Как оценить насколько хорошо работает ваша модель?

# answers_pred - ответы которые вернула модель для X_test
# y_test - это правильные ответы для X_test
print(accuracy_score(y_test,answers_pred), "-точность модели")

#модель дает правильные ответы для 81% выборки

0.8093970723717883 -точность модели

In [46]:
# Уравнение регрессии
[print(coef, end = " + ") for coef in model.coef_[0]]
print(model.intercept_[0])


#наибольшее значение оказало fnlwgt

-0.005845651054236556 + -0.001010421216859938 + -2.251020595333136e-06 + -0.0024601107564990975 + -0.0013446069081872458 + -0.001326365424340597 + -0.0012803116442171043 + -0.0012384991080280944 + -0.0009502976940095124 + -0.00031159146200773297 + 0.0003416386809611886 + 0.0007621685222074851 + -0.0062915711957202665 + -0.010681161604743859 + -0.0002911329253240623