In [1]:
import pandas as pd
from google.colab import files
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

# Исследование и обработка данных

In [3]:
uploaded = files.upload()

Saving income_evaluation.csv to income_evaluation.csv

In [47]:
train=pd.read_csv('income_evaluation.csv' )
train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [48]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlwgt          32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [49]:
train.shape

(32561, 15)

In [50]:
train.isna().sum()

age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 income            0
dtype: int64

In [51]:
print(train[' income'].unique())
print(train[' workclass'].unique())
print(train[' education'].unique())
print(train[' marital-status'].unique())
print(train[' occupation'].unique())
print(train[' relationship'].unique())
print(train[' race'].unique())
print(train[' sex'].unique())
print(train[' native-country'].unique())

[' <=50K' ' >50K']
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' ?' ' Self-emp-inc' ' Without-pay' ' Never-worked']
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' Assoc-voc' ' 7th-8th' ' Doctorate' ' Prof-school'
 ' 5th-6th' ' 10th' ' 1st-4th' ' Preschool' ' 12th']
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Craft-repair' ' Transport-moving'
 ' Farming-fishing' ' Machine-op-inspct' ' Tech-support' ' ?'
 ' Protective-serv' ' Armed-Forces' ' Priv-house-serv']
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
[' Male' ' Female']
[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']

In [52]:
d={' <=50K' : 0, ' >50K': 1}
train[' income']=train[' income'].map(d)
d={' Male' : 0, ' Female': 1}
train[' sex']=train[' sex'].map(d)

In [53]:
# преобразуем целевую переменную из категориальной


# Создадим модель кодировщика
label_encoder = preprocessing.LabelEncoder() 

# Обучение кодировщика: по сути тут создает словарь уникальных слов из переданного массива, 
# соотносит для каждого слова число (все что делали выше мы, только тут автоматизированно)
label_encoder.fit(train[' workclass']) 

# на этом этапе по сути применяет полученный словарь в переданным данных (в данном случае мы передали столбец region)
train[' workclass'] = label_encoder.transform(train[' workclass'])

In [54]:
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' education']) 
train[' education'] = label_encoder.transform(train[' education']) 

label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' marital-status']) 
train[' marital-status'] = label_encoder.transform(train[' marital-status']) 

label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' occupation']) 
train[' occupation'] = label_encoder.transform(train[' occupation']) 

label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' relationship']) 
train[' relationship'] = label_encoder.transform(train[' relationship']) 

label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' race']) 
train[' race'] = label_encoder.transform(train[' race']) 

label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train[' native-country']) 
train[' native-country'] = label_encoder.transform(train[' native-country'])

In [55]:
train.dtypes

age                int64
 workclass         int64
 fnlwgt            int64
 education         int64
 education-num     int64
 marital-status    int64
 occupation        int64
 relationship      int64
 race              int64
 sex               int64
 capital-gain      int64
 capital-loss      int64
 hours-per-week    int64
 native-country    int64
 income            int64
dtype: object

In [56]:
# train - на тренировочные и тестовые
X = train.drop([' income'], axis=1)
y = train[' income']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)
model = LogisticRegression()
model.fit(X_train, y_train) # обучение модели на правильных ответах

answers_pred = model.predict(X_test) # тестирование модели для признаков у которых нет ответов (предсказывание ответа)

In [57]:
print(100*accuracy_score(y_test,answers_pred), "%") # answers_pred - ответы которые вернула модель для X_test | y_test - правильные ответы для X_test

80.5097758214761 %

In [60]:
# Уравнение регрессии
[print(coef, end = " + ") for coef in model.coef_[0]]
print(model.intercept_[0])#fnlwgt

-0.00559481623780537 + -0.0009981485470667445 + -2.3732977632474063e-06 + -0.0024602699352694077 + -0.0013394319117704702 + -0.0013536575367200721 + -0.0012817100065086553 + -0.001224520118763826 + -0.0009425982408265154 + -0.000309942878188227 + 0.00033987029088216713 + 0.0007727344120134609 + -0.006262873570640446 + -0.010611319289346128 + -0.000290303423446929

In [62]:
for i in model.coef_[0]:
  print(i)
  print("+")
# Уравнение регрессии
#fnlwgt

-0.00559481623780537
+
-0.0009981485470667445
+
-2.3732977632474063e-06
+
-0.0024602699352694077
+
-0.0013394319117704702
+
-0.0013536575367200721
+
-0.0012817100065086553
+
-0.001224520118763826
+
-0.0009425982408265154
+
-0.000309942878188227
+
0.00033987029088216713
+
0.0007727344120134609
+
-0.006262873570640446
+
-0.010611319289346128
+