In [ ]:
from google.colab import files #позволяет с локального компьютера загрузить в колаб какие то файлы
uploaded = files.upload()

Saving test_weather.csv to test_weather.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression

In [ ]:
train = pd.read_csv("train_weather.csv")
test = pd.read_csv("test_weather.csv")

In [ ]:
train.head(20)

         Location  MinTemp  MaxTemp  ...  Temp3pm  RainToday  RainTomorrow
0        Brisbane     13.7     23.6  ...     22.3          0             0
1          Sydney     15.4     21.2  ...     20.7          1             1
2        Richmond     16.8     30.9  ...     30.0          0             0
3   NorfolkIsland     13.9     17.1  ...     15.8          0             0
4         Mildura     16.0     36.1  ...     34.9          0             0
5        Adelaide      9.4     29.3  ...     27.1          0             1
6       GoldCoast     11.9     24.5  ...     22.5          0             0
7         Woomera     18.4     37.9  ...     35.8          0             0
8     Witchcliffe     11.9     19.3  ...     17.1          0             1
9           Uluru     16.5     32.0  ...     28.6          1             1
10         Cairns     22.2     31.3  ...     29.7          0             0
11        Bendigo      1.1     18.3  ...     17.4          0             0
12      Newcastle      8.2     18.3  ...     16.7          1             0
13          Moree     17.2     33.3  ...     31.5          0             0
14       Richmond      6.3     26.4  ...     26.0          0             0
15       Canberra     -3.1      9.1  ...      7.9          0             0
16       Canberra      5.6     18.9  ...     17.7          0             0
17          Moree     21.1     33.9  ...     32.4          1             1
18       Richmond     21.6     28.6  ...     26.8          1             0
19    Williamtown     17.1     23.1  ...     20.8          0             0

[20 rows x 22 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121873 entries, 0 to 121872
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       121873 non-null  object
 1   MinTemp        120652 non-null  float64
 2   MaxTemp        120842 non-null  float64
 3   Rainfall       119145 non-null  float64
 4   Evaporation    71329 non-null   float64
 5   Sunshine       65698 non-null   float64
 6   WindGustDir    113157 non-null  object
 7   WindGustSpeed  113212 non-null  float64
 8   WindDir9am     112959 non-null  object
 9   WindDir3pm     118519 non-null  object
 10  WindSpeed9am   120354 non-null  float64
 11  WindSpeed3pm   119528 non-null  float64
 12  Humidity9am    119642 non-null  float64
 13  Humidity3pm    118491 non-null  float64
 14  Pressure9am    109238 non-null  float64
 15  Pressure3pm    109271 non-null  float64
 16  Cloud9am       75814 non-null   float64
 17  Cloud3pm       73397 non-null   float64
 18  Temp9am        120340 non-null  float64
 19  Temp3pm        119217 non-null  float64
 20  RainToday      121873 non-null  int64
 21  RainTomorrow   121873 non-null  int64
dtypes: float64(16), int64(2), object(4)
memory usage: 20.5+ MB

In [ ]:
print(train.isna().sum())

Location             0
MinTemp           1221
MaxTemp           1031
Rainfall          2728
Evaporation      50544
Sunshine         56175
WindGustDir       8716
WindGustSpeed     8661
WindDir9am        8914
WindDir3pm        3354
WindSpeed9am      1519
WindSpeed3pm      2345
Humidity9am       2231
Humidity3pm       3382
Pressure9am      12635
Pressure3pm      12602
Cloud9am         46059
Cloud3pm         48476
Temp9am           1533
Temp3pm           2656
RainToday            0
RainTomorrow         0
dtype: int64

In [ ]:
for i in train:
  if i != "Location" and i != 'WindDir9am' and i != 'WindDir3pm' and i != 'RainToday' and i != 'RainTomorrow' and i != 'WindGustDir':
    value = train[i].mean()
    train[i] = train[i].fillna(value)
train.head(20)

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Brisbane,13.7,23.6,0.0,5.000000,9.600000,SSE,24.000000,SSW,ESE,...,65.0,53.0,1028.400000,1026.700000,1.000000,1.000000,18.3,22.3,0,0
1,Sydney,15.4,21.2,61.2,5.800000,2.700000,S,43.000000,WSW,SSW,...,91.0,65.0,1018.800000,1016.500000,8.000000,7.000000,15.6,20.7,1,1
2,Richmond,16.8,30.9,1.0,5.400952,7.592793,NE,35.000000,NNW,NE,...,80.0,38.0,1020.400000,1013.200000,1.000000,4.492486,19.6,30.0,0,0
3,NorfolkIsland,13.9,17.1,0.2,3.800000,8.900000,SE,37.000000,SE,SSE,...,56.0,63.0,1027.700000,1026.100000,3.000000,1.000000,15.3,15.8,0,0
4,Mildura,16.0,36.1,0.0,6.800000,12.900000,ENE,33.000000,ENE,E,...,58.0,32.0,1018.500000,1016.000000,0.000000,3.000000,26.0,34.9,0,0
5,Adelaide,9.4,29.3,0.0,14.400000,11.600000,NW,31.000000,N,W,...,43.0,16.0,1014.900000,1009.100000,4.408355,4.492486,17.0,27.1,0,1
6,GoldCoast,11.9,24.5,0.0,5.400952,7.592793,NNE,31.000000,SSE,E,...,42.0,56.0,1014.000000,1011.000000,4.408355,4.492486,23.8,22.5,0,0
7,Woomera,18.4,37.9,0.0,13.600000,13.000000,SE,39.000000,SE,NE,...,38.0,12.0,1015.100000,1013.400000,1.000000,1.000000,23.8,35.8,0,0
8,Witchcliffe,11.9,19.3,0.0,5.400952,7.592793,WNW,67.000000,NNW,NNW,...,94.0,93.0,1012.800000,1010.500000,4.408355,4.492486,17.7,17.1,0,1
9,Uluru,16.5,32.0,11.4,5.400952,7.592793,SW,61.000000,SSW,NNE,...,98.0,58.0,1011.000000,1005.700000,4.408355,4.492486,17.1,28.6,1,1
10,Cairns,22.2,31.3,0.0,7.400000,10.500000,ESE,31.000000,SSE,E,...,59.0,54.0,1013.000000,1010.100000,4.000000,5.000000,28.4,29.7,0,0
11,Bendigo,1.1,18.3,0.0,5.400952,7.592793,N,26.000000,SSE,NNW,...,90.0,42.0,1030.400000,1026.100000,0.000000,1.000000,8.4,17.4,0,0
12,Newcastle,8.2,18.3,1.8,5.400952,7.592793,NaN,40.154922,NE,NW,...,74.0,45.0,1017.671683,1015.276048,0.000000,5.000000,12.0,16.7,1,0
13,Moree,17.2,33.3,0.0,5.400952,7.592793,NE,46.000000,E,SSW,...,50.0,27.0,1023.000000,1019.300000,4.408355,3.000000,23.6,31.5,0,0
14,Richmond,6.3,26.4,0.0,5.400952,7.592793,NNE,28.000000,NaN,ENE,...,77.0,39.0,1012.200000,1006.700000,4.408355,4.492486,14.2,26.0,0,0
15,Canberra,-3.1,9.1,0.2,1.900000,9.500000,N,35.000000,NaN,NNW,...,69.0,49.0,1020.600000,1017.800000,1.000000,0.000000,2.2,7.9,0,0
16,Canberra,5.6,18.9,0.0,3.800000,8.000000,SE,33.000000,SSE,E,...,79.0,49.0,1025.800000,1023.500000,7.000000,6.000000,12.5,17.7,0,0
17,Moree,21.1,33.9,5.2,10.400000,9.800000,E,54.000000,ENE,ESE,...,61.0,35.0,1012.000000,1008.500000,6.000000,2.000000,24.8,32.4,1,1
18,Richmond,21.6,28.6,5.4,5.400952,7.592793,ESE,35.000000,W,ESE,...,63.0,40.0,1012.700000,1014.500000,1.000000,4.492486,24.3,26.8,1,0
19,Williamtown,17.1,23.1,0.0,7.000000,2.800000,ESE,35.000000,ESE,SE,...,61.0,58.0,1020.000000,1018.900000,7.000000,7.000000,19.6,20.8,0,0

In [ ]:
print(train.shape)
print(train.isna().sum())

(121873, 22)
Location            0
MinTemp             0
MaxTemp             0
Rainfall            0
Evaporation         0
Sunshine            0
WindGustDir      8716
WindGustSpeed       0
WindDir9am       8914
WindDir3pm       3354
WindSpeed9am        0
WindSpeed3pm        0
Humidity9am         0
Humidity3pm         0
Pressure9am         0
Pressure3pm         0
Cloud9am            0
Cloud3pm            0
Temp9am             0
Temp3pm             0
RainToday           0
RainTomorrow        0
dtype: int64

In [ ]:
train = train.drop(['WindGustDir'], axis=1)
train = train.drop(['WindDir9am'], axis=1)
train = train.drop(['WindDir3pm'], axis=1)

In [ ]:
train.head(20)

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Brisbane,13.7,23.6,0.0,5.000000,9.600000,24.000000,7.0,9.0,65.0,53.0,1028.400000,1026.700000,1.000000,1.000000,18.3,22.3,0,0
1,Sydney,15.4,21.2,61.2,5.800000,2.700000,43.000000,19.0,24.0,91.0,65.0,1018.800000,1016.500000,8.000000,7.000000,15.6,20.7,1,1
2,Richmond,16.8,30.9,1.0,5.400952,7.592793,35.000000,7.0,26.0,80.0,38.0,1020.400000,1013.200000,1.000000,4.492486,19.6,30.0,0,0
3,NorfolkIsland,13.9,17.1,0.2,3.800000,8.900000,37.000000,17.0,20.0,56.0,63.0,1027.700000,1026.100000,3.000000,1.000000,15.3,15.8,0,0
4,Mildura,16.0,36.1,0.0,6.800000,12.900000,33.000000,17.0,19.0,58.0,32.0,1018.500000,1016.000000,0.000000,3.000000,26.0,34.9,0,0
5,Adelaide,9.4,29.3,0.0,14.400000,11.600000,31.000000,11.0,9.0,43.0,16.0,1014.900000,1009.100000,4.408355,4.492486,17.0,27.1,0,1
6,GoldCoast,11.9,24.5,0.0,5.400952,7.592793,31.000000,20.0,20.0,42.0,56.0,1014.000000,1011.000000,4.408355,4.492486,23.8,22.5,0,0
7,Woomera,18.4,37.9,0.0,13.600000,13.000000,39.000000,19.0,6.0,38.0,12.0,1015.100000,1013.400000,1.000000,1.000000,23.8,35.8,0,0
8,Witchcliffe,11.9,19.3,0.0,5.400952,7.592793,67.000000,20.0,22.0,94.0,93.0,1012.800000,1010.500000,4.408355,4.492486,17.7,17.1,0,1
9,Uluru,16.5,32.0,11.4,5.400952,7.592793,61.000000,19.0,13.0,98.0,58.0,1011.000000,1005.700000,4.408355,4.492486,17.1,28.6,1,1
10,Cairns,22.2,31.3,0.0,7.400000,10.500000,31.000000,15.0,22.0,59.0,54.0,1013.000000,1010.100000,4.000000,5.000000,28.4,29.7,0,0
11,Bendigo,1.1,18.3,0.0,5.400952,7.592793,26.000000,7.0,13.0,90.0,42.0,1030.400000,1026.100000,0.000000,1.000000,8.4,17.4,0,0
12,Newcastle,8.2,18.3,1.8,5.400952,7.592793,40.154922,4.0,28.0,74.0,45.0,1017.671683,1015.276048,0.000000,5.000000,12.0,16.7,1,0
13,Moree,17.2,33.3,0.0,5.400952,7.592793,46.000000,26.0,19.0,50.0,27.0,1023.000000,1019.300000,4.408355,3.000000,23.6,31.5,0,0
14,Richmond,6.3,26.4,0.0,5.400952,7.592793,28.000000,0.0,13.0,77.0,39.0,1012.200000,1006.700000,4.408355,4.492486,14.2,26.0,0,0
15,Canberra,-3.1,9.1,0.2,1.900000,9.500000,35.000000,0.0,24.0,69.0,49.0,1020.600000,1017.800000,1.000000,0.000000,2.2,7.9,0,0
16,Canberra,5.6,18.9,0.0,3.800000,8.000000,33.000000,13.0,22.0,79.0,49.0,1025.800000,1023.500000,7.000000,6.000000,12.5,17.7,0,0
17,Moree,21.1,33.9,5.2,10.400000,9.800000,54.000000,22.0,20.0,61.0,35.0,1012.000000,1008.500000,6.000000,2.000000,24.8,32.4,1,1
18,Richmond,21.6,28.6,5.4,5.400952,7.592793,35.000000,9.0,26.0,63.0,40.0,1012.700000,1014.500000,1.000000,4.492486,24.3,26.8,1,0
19,Williamtown,17.1,23.1,0.0,7.000000,2.800000,35.000000,20.0,20.0,61.0,58.0,1020.000000,1018.900000,7.000000,7.000000,19.6,20.8,0,0

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
label_encoder.fit(train['Location']) 
train['Location'] = label_encoder.transform(train['Location']) 
train.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,7,13.7,23.6,0.0,5.000000,9.600000,24.0,7.0,9.0,65.0,53.0,1028.4,1026.7,1.0,1.000000,18.3,22.3,0,0
1,37,15.4,21.2,61.2,5.800000,2.700000,43.0,19.0,24.0,91.0,65.0,1018.8,1016.5,8.0,7.000000,15.6,20.7,1,1
2,34,16.8,30.9,1.0,5.400952,7.592793,35.0,7.0,26.0,80.0,38.0,1020.4,1013.2,1.0,4.492486,19.6,30.0,0,0
3,27,13.9,17.1,0.2,3.800000,8.900000,37.0,17.0,20.0,56.0,63.0,1027.7,1026.1,3.0,1.000000,15.3,15.8,0,0
4,20,16.0,36.1,0.0,6.800000,12.900000,33.0,17.0,19.0,58.0,32.0,1018.5,1016.0,0.0,3.000000,26.0,34.9,0,0

In [ ]:
from sklearn.model_selection import train_test_split

# train - на тренировочные и тестовые
X = train.drop(['RainTomorrow'], axis=1)
y = train['RainTomorrow']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

model = LogisticRegression()
# model = KMeans()
# model = LinearRegression()

# модель учится, для этого ей нужны правильные
model.fit(X_train, y_train)

# тестируем, для признаков у которых нет ответов, мы предсказывает ответ
answers_pred = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
from sklearn.metrics import accuracy_score

# Как оценить насколько хорошо работает ваша модель?

# answers_pred - ответы которые вернула модель для X_test
# y_test - это правильные ответы для X_test
print(accuracy_score(y_test,answers_pred))

0.8401619167441606

# Новый раздел

In [ ]:
test.head(20)

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,PearceRAAF,11.0,22.1,0.0,NaN,8.2,ESE,57.0,E,E,...,22.0,52.0,34.0,1028.5,1024.6,3.0,NaN,14.7,20.7,0
1,Albury,5.6,20.7,0.0,NaN,NaN,ESE,44.0,SE,NNE,...,24.0,65.0,42.0,1023.0,1018.1,NaN,NaN,13.9,20.3,0
2,Cobar,9.5,18.4,0.0,1.6,NaN,SW,26.0,WNW,SSW,...,15.0,67.0,43.0,1024.7,1021.5,7.0,7.0,11.5,17.9,0
3,Albany,18.4,22.0,0.0,3.8,0.2,NaN,NaN,E,ESE,...,19.0,80.0,79.0,1019.5,1017.0,8.0,8.0,20.7,21.4,0
4,MountGambier,10.4,20.7,0.4,3.8,9.0,SSW,43.0,WSW,SW,...,26.0,55.0,38.0,1019.5,1022.4,5.0,4.0,15.7,18.0,0
5,Bendigo,10.8,22.0,0.0,2.2,NaN,SW,30.0,WSW,SSW,...,20.0,86.0,56.0,1017.5,1017.0,7.0,3.0,16.0,21.3,0
6,Townsville,22.3,26.8,0.0,6.4,0.1,S,41.0,ENE,E,...,13.0,84.0,79.0,1016.4,1013.6,7.0,7.0,24.3,25.5,0
7,Wollongong,17.7,27.6,0.0,NaN,NaN,SW,39.0,WSW,E,...,19.0,32.0,56.0,1008.8,1007.6,NaN,NaN,23.6,23.8,0
8,Nuriootpa,-2.5,12.9,0.0,1.6,8.1,NE,26.0,NNE,N,...,13.0,73.0,43.0,1024.8,1021.1,1.0,4.0,6.2,12.7,0
9,Dartmoor,11.3,18.5,0.4,4.0,1.5,SSW,39.0,S,S,...,22.0,92.0,65.0,1015.3,1016.0,NaN,NaN,14.1,17.0,0
10,Newcastle,10.2,15.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,73.0,NaN,NaN,NaN,7.0,NaN,13.0,NaN,0
11,Nuriootpa,17.2,29.3,0.0,NaN,NaN,NW,81.0,NW,WNW,...,43.0,20.0,11.0,1011.0,1007.3,NaN,NaN,24.3,28.8,0
12,Townsville,17.7,26.2,0.0,7.0,9.9,ENE,35.0,ESE,NE,...,20.0,76.0,64.0,1018.5,1015.6,5.0,3.0,22.4,25.5,0
13,GoldCoast,14.8,22.2,6.4,NaN,NaN,SSE,48.0,SSE,SE,...,33.0,74.0,57.0,1022.4,1019.6,NaN,NaN,19.4,21.4,1
14,Walpole,13.6,19.7,4.0,NaN,NaN,WNW,50.0,NW,WNW,...,20.0,81.0,72.0,1019.0,1018.1,NaN,NaN,15.5,18.5,1
15,GoldCoast,15.6,21.3,29.8,NaN,NaN,N,48.0,NE,N,...,19.0,77.0,86.0,1026.3,1022.6,NaN,NaN,20.2,18.7,1
16,BadgerysCreek,11.5,16.9,12.0,NaN,NaN,SE,30.0,SW,SSE,...,13.0,92.0,73.0,1023.1,1022.8,NaN,NaN,13.5,15.4,1
17,SalmonGums,10.2,14.7,18.6,NaN,NaN,SSW,54.0,SSW,SSW,...,31.0,93.0,56.0,NaN,NaN,NaN,NaN,10.6,13.3,1
18,Adelaide,9.7,21.4,0.0,1.4,NaN,NW,24.0,NaN,WNW,...,13.0,76.0,36.0,1022.9,1019.0,NaN,NaN,14.8,21.1,0
19,Sale,-1.0,11.4,0.2,NaN,NaN,E,15.0,NW,S,...,7.0,94.0,73.0,1027.6,1023.6,7.0,5.0,2.7,10.9,0

In [ ]:
print(test.shape)
print(test.info())

(13541, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13541 entries, 0 to 13540
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       13541 non-null  object
 1   MinTemp        13409 non-null  float64
 2   MaxTemp        13418 non-null  float64
 3   Rainfall       13256 non-null  float64
 4   Evaporation    7933 non-null   float64
 5   Sunshine       7330 non-null   float64
 6   WindGustDir    12565 non-null  object
 7   WindGustSpeed  12573 non-null  float64
 8   WindDir9am     12547 non-null  object
 9   WindDir3pm     13146 non-null  object
 10  WindSpeed9am   13365 non-null  float64
 11  WindSpeed3pm   13258 non-null  float64
 12  Humidity9am    13304 non-null  float64
 13  Humidity3pm    13140 non-null  float64
 14  Pressure9am    12159 non-null  float64
 15  Pressure3pm    12160 non-null  float64
 16  Cloud9am       8407 non-null   float64
 17  Cloud3pm       8150 non-null   float64
 18  Temp9am        13383 non-null  float64
 19  Temp3pm        13222 non-null  float64
 20  RainToday      13541 non-null  int64
dtypes: float64(16), int64(1), object(4)
memory usage: 2.2+ MB
None

In [ ]:
test.isna().sum()

Location            0
MinTemp           132
MaxTemp           123
Rainfall          285
Evaporation      5608
Sunshine         6211
WindGustDir       976
WindGustSpeed     968
WindDir9am        994
WindDir3pm        395
WindSpeed9am      176
WindSpeed3pm      283
Humidity9am       237
Humidity3pm       401
Pressure9am      1382
Pressure3pm      1381
Cloud9am         5134
Cloud3pm         5391
Temp9am           158
Temp3pm           319
RainToday           0
dtype: int64

In [ ]:
for i in test:
  if i != "Location" and i != 'WindDir9am' and i != 'WindDir3pm' and i != 'RainToday' and i != 'RainTomorrow' and i != 'WindGustDir':
    value = test[i].mean()
    test[i] = test[i].fillna(value)

test = test.drop(['WindGustDir'], axis=1)
test = test.drop(['WindDir9am'], axis=1)
test = test.drop(['WindDir3pm'], axis=1)

from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
label_encoder.fit(test['Location']) 
test['Location'] = label_encoder.transform(test['Location']) 
test.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,29,11.0,22.1,0.0,5.526106,8.200000,57.000000,30.0,22.0,52.0,34.0,1028.5,1024.6,3.000000,4.52454,14.7,20.7,0
1,2,5.6,20.7,0.0,5.526106,7.680982,44.000000,7.0,24.0,65.0,42.0,1023.0,1018.1,4.425955,4.52454,13.9,20.3,0
2,10,9.5,18.4,0.0,1.600000,7.680982,26.000000,2.0,15.0,67.0,43.0,1024.7,1021.5,7.000000,7.00000,11.5,17.9,0
3,1,18.4,22.0,0.0,3.800000,0.200000,40.173785,22.0,19.0,80.0,79.0,1019.5,1017.0,8.000000,8.00000,20.7,21.4,0
4,22,10.4,20.7,0.4,3.800000,9.000000,43.000000,15.0,26.0,55.0,38.0,1019.5,1022.4,5.000000,4.00000,15.7,18.0,0

In [ ]:
predictions = model.predict(test.drop('RainToday', axis = 1))
predictions
test['RainTomorrow'] = predictions

test.head(20)
#final_prediction.to_csv('final_prediction.csv', index=False)
#files.download("final_prediction.csv")

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- RainTomorrow
Feature names seen at fit time, yet now missing:
- RainToday

  warnings.warn(message, FutureWarning)

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,29,11.0,22.1,0.0,5.526106,8.200000,57.000000,30.0,22.000000,52.0,34.000000,1028.500000,1024.600000,3.000000,4.52454,14.7,20.700000,0,0
1,2,5.6,20.7,0.0,5.526106,7.680982,44.000000,7.0,24.000000,65.0,42.000000,1023.000000,1018.100000,4.425955,4.52454,13.9,20.300000,0,0
2,10,9.5,18.4,0.0,1.600000,7.680982,26.000000,2.0,15.000000,67.0,43.000000,1024.700000,1021.500000,7.000000,7.00000,11.5,17.900000,0,0
3,1,18.4,22.0,0.0,3.800000,0.200000,40.173785,22.0,19.000000,80.0,79.000000,1019.500000,1017.000000,8.000000,8.00000,20.7,21.400000,0,1
4,22,10.4,20.7,0.4,3.800000,9.000000,43.000000,15.0,26.000000,55.0,38.000000,1019.500000,1022.400000,5.000000,4.00000,15.7,18.000000,0,0
5,6,10.8,22.0,0.0,2.200000,7.680982,30.000000,13.0,20.000000,86.0,56.000000,1017.500000,1017.000000,7.000000,3.00000,16.0,21.300000,0,0
6,39,22.3,26.8,0.0,6.400000,0.100000,41.000000,15.0,13.000000,84.0,79.000000,1016.400000,1013.600000,7.000000,7.00000,24.3,25.500000,0,1
7,47,17.7,27.6,0.0,5.526106,7.680982,39.000000,17.0,19.000000,32.0,56.000000,1008.800000,1007.600000,4.425955,4.52454,23.6,23.800000,0,0
8,28,-2.5,12.9,0.0,1.600000,8.100000,26.000000,6.0,13.000000,73.0,43.000000,1024.800000,1021.100000,1.000000,4.00000,6.2,12.700000,0,0
9,12,11.3,18.5,0.4,4.000000,1.500000,39.000000,13.0,22.000000,92.0,65.000000,1015.300000,1016.000000,4.425955,4.52454,14.1,17.000000,0,0
10,24,10.2,15.5,0.0,5.526106,7.680982,40.173785,0.0,18.741665,73.0,51.600304,1017.608496,1015.200798,7.000000,4.52454,13.0,21.645923,0,0
11,28,17.2,29.3,0.0,5.526106,7.680982,81.000000,28.0,43.000000,20.0,11.000000,1011.000000,1007.300000,4.425955,4.52454,24.3,28.800000,0,0
12,39,17.7,26.2,0.0,7.000000,9.900000,35.000000,11.0,20.000000,76.0,64.000000,1018.500000,1015.600000,5.000000,3.00000,22.4,25.500000,0,0
13,14,14.8,22.2,6.4,5.526106,7.680982,48.000000,35.0,33.000000,74.0,57.000000,1022.400000,1019.600000,4.425955,4.52454,19.4,21.400000,1,0
14,43,13.6,19.7,4.0,5.526106,7.680982,50.000000,24.0,20.000000,81.0,72.000000,1019.000000,1018.100000,4.425955,4.52454,15.5,18.500000,1,0
15,14,15.6,21.3,29.8,5.526106,7.680982,48.000000,35.0,19.000000,77.0,86.000000,1026.300000,1022.600000,4.425955,4.52454,20.2,18.700000,1,1
16,4,11.5,16.9,12.0,5.526106,7.680982,30.000000,11.0,13.000000,92.0,73.000000,1023.100000,1022.800000,4.425955,4.52454,13.5,15.400000,1,0
17,36,10.2,14.7,18.6,5.526106,7.680982,54.000000,31.0,31.000000,93.0,56.000000,1017.608496,1015.200798,4.425955,4.52454,10.6,13.300000,1,0
18,0,9.7,21.4,0.0,1.400000,7.680982,24.000000,0.0,13.000000,76.0,36.000000,1022.900000,1019.000000,4.425955,4.52454,14.8,21.100000,0,0
19,35,-1.0,11.4,0.2,5.526106,7.680982,15.000000,6.0,7.000000,94.0,73.000000,1027.600000,1023.600000,7.000000,5.00000,2.7,10.900000,0,0