In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd

Number 1

In [8]:
import numpy as np
import pandas as pd

r = np.random.RandomState(1)
s = pd.Series(r.uniform(0, 10, 100))

d = s[s>5].index[0]
d

1

Number 2

In [36]:
df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])

age = df[df['возраст'] > 40]

sum = 0
averege = df['доход'].mean()
earn = df[df['доход'] > averege]

trust = df['надежность клиента (0..1)'].mean()
df[(df['доход'] > averege) & (df['надежность клиента (0..1)'] < trust)]

df['важность клиента'] = df['доход'] * df['надежность клиента (0..1)']
df['возможная долгосрочность клиента'] = df['важность клиента'] * df['возраст'].mean()
df

     имя  возраст  ...  важность клиента  возможная долгосрочность клиента
0   Петя       45  ...           65000.0                         2161250.0
1   Вася       26  ...           59200.0                         1968400.0
2    Аня       41  ...          130500.0                         4339125.0
3  Света       21  ...           40800.0                         1356600.0

[4 rows x 7 columns]

Number 3

In [45]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['low', 'medium', 'high'] * 3,
                    'price': np.random.randint(0, 100, 9)})

df2 = pd.DataFrame({'frukt': ['apple', 'banana', 'melon'] * 2,
                    'ves': ['low', 'high'] * 3,
                    'price': np.random.randint(0, 100, 6)})
pd.concat([df1['price'], df2['price']])
pd.concat([df1.iloc[:, 0:2], df2.iloc[:,0:2]],)

0    36
1    86
2    74
3    58
4    12
5    18
6    46
7    67
8    62
0    54
1    50
2    27
3    68
4    61
5    33
Name: price, dtype: int64

Number 4.3

In [71]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'name': ['Иван', 'Анна', 'Мария', 'Василий', 'Анастасия'],
    'math': [5, 3, 3, 4, 4],
    'russian': [4, 4, 4, 5, 3],
    'history': [5, 4, 3, 4, 5]})

for i in range(5):
  df.loc[i, 'mean'] = df.iloc[i, 1:].mean()
df['класс в котором учится ученик'] = ['11А', '11А', '11Б', '11Г', '11Б']
df.drop(4)
df


print(df.iloc[0, 0:4],df.iloc[3, 0:4])

name       Иван
math          5
russian       4
history       5
Name: 0, dtype: object name       Василий
math             4
russian          5
history          4
Name: 3, dtype: object