**задание 1**

Задан Series объект s, найти индекс первого элемента отсортированного s, где значения больше 5.

In [ ]:
import pandas as pd

r = np.random.RandomState(1)
s = pd.Series(r.uniform(0, 10, 100))
s=s[s>5]
t=s.sort_values()
print(s)
print(t)
t.index[0]

**Задание 2.**

Имеется небольшой игрушечный DataFrame, в котором необходимо провести несколько типов фильтраций и отобразить результат:

всех, кто старше 40

всех, кто имеет доход выше среднего по датасету

всех, кто имеет доход выше среднего по датасету, но надежность ниже среднего по датасету

создать новые столбцы:

важность клиента = доход * надежность

возможная долгосрочность клиента = важность клиента * (средний возраст по датасету - возраст клиента)
подсказка: двойные условия записываются так: (условие 1) & (условие 2)

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])
print(df[df['возраст'] >= 40])
print(df[df['доход'] > df['доход'].mean()])
print(df[(df['надежность клиента (0..1)'] < df['надежность клиента (0..1)'].mean()) & (df['доход'] > df['доход'].mean())])
df['важность клиента']=df['доход']*df['надежность клиента (0..1)']
df['возможная долгосрочность клиента']=df['надежность клиента (0..1)']*(df['возраст'].mean()-df['возраст'])
df

    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен
    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен
    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж

     имя  возраст  ...  важность клиента  возможная долгосрочность клиента
0   Петя       45  ...           65000.0                           -7.6375
1   Вася       26  ...           59200.0                            5.3650
2    Аня       41  ...          130500.0                           -6.7425
3  Света       21  ...           40800.0                            8.3300

[4 rows x 7 columns]

**задание 3**

Как объединить два DataFrame по двум столбцам так, чтобы остались только общие строки

Объедините df1 и df2 по столбцам fruit-frukt и weight-ves.

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['low', 'medium', 'high'] * 3,
                    'price': np.random.randint(0, 100, 9)})

df2 = pd.DataFrame({'frukt': ['apple', 'banana', 'melon'] * 2,
                    'ves': ['low', 'high'] * 3,
                    'price': np.random.randint(0, 100, 6)})


pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['frukt', 'ves'])

**задание 4**

1. Создайте новые столбцы, которые будут содержать:

Коды страны: 'KZ', 'RU', 'BY', 'UA'

Плотность населения = население (в миллионах) поделить на площадь страны
2. Добавьте в датафрейм данные еще о двух странах:

USA; 329,5; 9834

United Kingdom; 55,98; 130279
3. Найдите среднюю площадь всех стран

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 207600, 603628]})

df['code of the country']=[ 'KZ', 'RU', 'BY', 'UA']
print(df)
df['population density']=df['population']/df['square']*10**6
print(df)
df1=pd.DataFrame({
    'country': ['USA', 'United Kingdom'],
    'population': [329.5, 55.98],
    'square': [9834, 130279]})
df=pd.concat([df1, df], ignore_index=True)
print(df)
print(df['square'].mean())