In [22]:
#задание1
import numpy as np
import pandas as pd

r = np.random.RandomState(1)
s = pd.Series(r.uniform(0, 10, 100))
s = s[s > 5]
s=s.index
print(s[0])

1

In [35]:
#2
df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']})
df
print(df[df["возраст"]>40])
print(df[df["доход"]>df['доход'].sum()/df.shape[0]])
print(df[(df["доход"]>df['доход'].sum()/df.shape[0]) & (df['надежность клиента (0..1)']<df['надежность клиента (0..1)'].sum()/df.shape[0])])
df['важность клиента'] = df['доход'] * df['надежность клиента (0..1)']
df['возможная долгосрочность клиента'] = df['важность клиента'] * (df['возраст'].sum()/df.shape[0] - df['возраст'])
df

    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен
    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен
    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж

     имя  возраст  ...  важность клиента  возможная долгосрочность клиента
0   Петя       45  ...           65000.0                         -763750.0
1   Вася       26  ...           59200.0                          429200.0
2    Аня       41  ...          130500.0                        -1011375.0
3  Света       21  ...           40800.0                          499800.0

[4 rows x 7 columns]

In [41]:
#3 -?????
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['low', 'medium', 'high'] * 3,
                    'price': np.random.randint(0, 100, 9)})

df2 = pd.DataFrame({'frukt': ['apple', 'banana', 'melon'] * 2,
                    'ves': ['low', 'high'] * 3,
                    'price': np.random.randint(0, 100, 6)})

In [52]:
#4.1
import pandas as pd

df = pd.DataFrame({
    'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 207600, 603628]})
df['средння плотность']=df['population']/df['square']
df['код']=['KZ', 'RU', 'BY', 'UA']
df1 = pd.DataFrame([['USA', 329.5, 9834], ['United Kingdom', 55.98, 130279]], columns=['country', 'population','square'], index=[4,5])
df2=pd.concat([df, df1])
df2

          country  population    square  средння плотность  код
0      Kazakhstan       17.04   2724902           0.000006   KZ
1          Russia      143.50  17125191           0.000008   RU
2         Belarus        9.50    207600           0.000046   BY
3         Ukraine       45.50    603628           0.000075   UA
4             USA      329.50      9834                NaN  NaN
5  United Kingdom       55.98    130279                NaN  NaN