In [9]:
#number 1
ex = [1, 2, 3, 4, 5, 6, 7]
print([i for i in ex])
print([[i]*i for i in ex if i % 2 == 0])

[1, 2, 3, 4, 5, 6, 7]
[[2, 2], [4, 4, 4, 4], [6, 6, 6, 6, 6, 6]]

In [3]:
#number 2
x = int(input())
y = int(input())
if -1 <= x <= 1 and  -1 <= y <= 1:
    print("yes")
else:
    print("no")

1
1
yes

In [5]:
#number 3
A = [1,2,4,5,6,7,7]
print([i for i in A if i % 2 == 0])

[2, 4, 6]

In [10]:
#number 4
name = input()
print(f"Привет, {name}!")

fat]
Привет, fat]!

In [7]:
#number 5
i = int(input())
print(f"The next number for the number {i} is {i+1}. The previous number for the number {i} is {i-1}.")

1523
The next number for the number 1523 is 1524. The previous number for the number 1523 is 1522.