In [ ]:
# Задание №1
'''Даны четыре действительных числа: x1, y1, x2, y2. Напишите функцию distance(x1, y1, x2, y2), 
вычисляющая расстояние между точкой (x1,y1) и (x2,y2).'''

import math

def distance(x1,y1,x2,y2):
  S=math.sqrt((x2-x1)*(x2-x1)+(y2-y1)*(y2-y1))
  return S

x1=int(input())
y1=int(input())
x2=int(input())
y2=int(input())
print(distance(x1,y1,x2,y2))

1
2
7
8
8.48528137423857

In [ ]:
# Задание №2
'''Написать функцию season(month), принимающую 1 аргумент — номер месяца (от 1 до 12), 
которая присваивает глобальной переменной s время года, которому этот месяц принадлежит (зима, весна, лето или осень).'''

def season(s):
  if (s<3 or s==12):
    s='Зима'
    print(s)
  elif (s>2 and s<6):
    s='Весна'
    print(s)
  elif (s>5 and s<9):
    s='Лето'
    print(s)
  elif (s>8 and s<12):
    s='Осень'
    print(s)
 
s = int(input())
season(s)

3
Весна

In [ ]:
# Задание №3
'''Написать функцию is_prime, принимающую 1 аргумент — число от 0 до 1000, 
и возвращающую True, если оно простое, и False - иначе.'''

def  is_prime(x):
  i=2
  j=1
  while(i<x):
    if (x%i==0):
      print (False)
      j=0
      break
    
    i=i+1
  if (j):
    print(True)

x=int(input())
is_prime(x)

5
True

In [78]:
# Задание №4

'''Написать функцию reverse_list(lst), которая принимает в качестве аргумента список и возвращаем его в перевернутом виде.

Например,

    исходный спискок: 8, 1, 0, 4
    полученный спискок: 4, 0, 1, 8

Использовать встроенные функции Python нельзя. '''


def reverse_list(lst):
  test = []
  for i in range(len(lst)-1, -1, -1):
    test.append(lst[i])
  return test

lst = [8, 1, 0, 4]
print(reverse_list(lst))

[4, 0, 1, 8]

In [ ]:
# Задание №5

'''Распечатайте с 4 по 8 символ фразы "Привет мир!" приведенные к верхнему регистру.'''

fraza='Привет мир!'
fraza2=fraza.upper()
print(fraza2[3:8:1])

ВЕТ М

In [89]:
# Задание №6

'''Напишите код, который все элементы массива x с нечетными индексами переставит в обратном порядке.
Т.е. если x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], то код должен получать [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]'''

x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
if (len(x) % 2 == 0):
  for i in range(1, len(x), 2):
    for j in range(i, len(x), 2):
      print(x)
      x[i], x[j]=x[j], x[i]

print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 3, 2, 1, 4, 5, 6, 7, 8, 9]
[0, 5, 2, 1, 4, 3, 6, 7, 8, 9]
[0, 7, 2, 1, 4, 3, 6, 5, 8, 9]
[0, 9, 2, 1, 4, 3, 6, 5, 8, 7]
[0, 9, 2, 1, 4, 3, 6, 5, 8, 7]
[0, 9, 2, 3, 4, 1, 6, 5, 8, 7]
[0, 9, 2, 5, 4, 1, 6, 3, 8, 7]
[0, 9, 2, 7, 4, 1, 6, 3, 8, 5]
[0, 9, 2, 7, 4, 1, 6, 3, 8, 5]
[0, 9, 2, 7, 4, 3, 6, 1, 8, 5]
[0, 9, 2, 7, 4, 5, 6, 1, 8, 3]
[0, 9, 2, 7, 4, 5, 6, 1, 8, 3]
[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]
[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [ ]:
# Задание №7

'''Напишите цикл, который выводит все числа от 0 до 500, 
делящиеся на 7, если в них есть цифра 8.'''

y=0
while (y<=500):
    if (y%7==0):
        x=y
        while(x>0):
            if x%10==8:
                print(y)
            break
        x//10
    y=y+1

28
98
168
238
308
378
448

In [ ]:
# Задание №8

'''На вход функция more_than_five(lst) получает список из целых чисел. 
Результатом работы функции должен стать новый список,в котором 
содержатся только те числа, которые больше 10 по модулю.'''

def  more_than_five(lst):
  test=[]
  for i in lst:
    if 10<abs(i):
      test.append(i)
  print(test)


arr=[2, 45, 45, 2, -3, 0, -11, -4, 9]
more_than_five(arr)

[45, 45, -11]