Номер 1

In [4]:
import math
def distance(x1, y1, x2, y2):
  return (math.sqrt((x2-x1)*(x2-x1)+(y2-y1)*(y2-y1)))
x1 = float(input())
y1 = float(input())
x2 = float(input())
y2 = float(input())
print(distance(x1,y1,x2,y2))

0
0
1
1
1.4142135623730951

Номер 2

In [22]:
month = int(input())
s=''
def season(month):
  global s
  if month==11 or month==12 or month==1: s='Winter'
  elif 3<=month<=5: s='Spring'
  elif 6<=month<=8: s='Summer'
  elif 9<=month<=11: s='Autumn'
  else: s='Number of month is incorrect'
season(month)
print(s)

-1
Number of month is incorrect

Номер 3

In [33]:
def is_prime(n):
  k=0
  for i in range(1,n):
    if n%i==0: k+=1
  if k==1: return True
  return False
n=int(input())
print(is_prime(n))

7
True

Номер 4

In [35]:
_list = []
list = [8,1,0,4]
for i in reversed(range(len(list))):
  _list.append(list[i])
print(_list)

[4, 0, 1, 8]

Номер 5

In [38]:
s = 'Привет мир!'
for i in range(3,8):
  print(s[i], end='')

вет м

Номер 6

In [62]:
list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,10,11]
list2 = list.copy()
for i in range(1,len(list2)//2+1):
  list2[2*i-1] = list[len(list)-len(list)%2-2*i+1]
print(list2)

[0, 11, 2, 9, 4, 7, 6, 5, 8, 3, 10, 1]

Номер 7

In [49]:
i=0
while n<=500:
  n=7*i
  temp=n
  while temp>0:
    if temp%10==8:
      print(n)
      break
    temp/=10
  i+=1

28
98
168
238
280
308
378
448

Номер 8

In [67]:
lst = [1,2,-5,-1100,2332,0,-10,-31]
def more_than_five(lst):
  for i in lst:
    if i>10 or i<-10: print(i)
more_than_five(lst)

-1100
2332
-31