In [213]:
import pandas as pd
from google.colab import files
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
import xgboost as xgb

In [219]:
#uploaded = files.upload()
train=pd.read_csv('train_final.csv' )

In [220]:
#uploaded = files.upload()
test=pd.read_csv('test_final.csv' )

In [221]:
def ready1(df):
  train1=df['Tectonic regime'].str.get_dummies('/')
  train1 = train1.add_prefix('Structural setting_').reset_index()
  train1=train1.drop(['index'], axis=1, inplace=True)
  df=pd.concat([df, train1], axis=1)
  df=df.drop(['Tectonic regime'], axis=1)
  df=pd.concat([df, train1], axis=1)
  # df=df.drop(['Tectonic regime'], axis=1)
  d={'ONSHORE' : 0, 'OFFSHORE': 1, 'ONSHORE-OFFSHORE': 2}
  label_encoder = preprocessing.LabelEncoder() 
  label_encoder.fit(df['Hydrocarbon type']) 
  df['Hydrocarbon type'] = label_encoder.transform(df['Hydrocarbon type']) 
  label_encoder = preprocessing.LabelEncoder() 
  label_encoder.fit(df['Reservoir status']) 
  df['Reservoir status'] = label_encoder.transform(df['Reservoir status']) 
  label_encoder = preprocessing.LabelEncoder() 
  label_encoder.fit(df['Period']) 
  df['Period'] = label_encoder.transform(df['Period']) 
  label_encoder = preprocessing.LabelEncoder() 
  label_encoder.fit(df['Lithology']) 
  df['Lithology'] = label_encoder.transform(df['Lithology'])
  train1=df['Structural setting'].str.get_dummies('/')
  df=pd.concat([df, train1], axis=1)
  df=df.drop(['Structural setting'], axis=1)
  return df

In [222]:
test.columns

Index(['Tectonic regime', 'Hydrocarbon type', 'Reservoir status',
       'Structural setting', 'Depth', 'Period', 'Lithology', 'Gross', 'Netpay',
       'Porosity', 'Permeability'],
      dtype='object')

In [226]:
test=ready1(test)

In [227]:
test

,Hydrocarbon type,Reservoir status,Depth,Period,Lithology,Gross,Netpay,Porosity,Permeability,BACKARC,...,FORELAND,INTRACRATONIC,INVERSION,PASSIVE,RIFT,SALT,SUB-SALT,SUB-THRUST,THRUST,WRENCH
0,0,2,7420.000000,11,6,715.000000,580.000000,11.000000,0.500000,0,...,0,0,1,0,0,0,1,0,0,0
1,2,5,4843.000000,10,6,2133.000000,72.000000,23.000000,350.000000,0,...,0,0,0,1,0,0,0,0,0,0
2,2,3,8450.000000,3,5,145.000000,45.000000,18.000000,700.000000,0,...,0,0,1,0,1,0,0,0,0,0
3,2,4,5463.000000,5,6,115.000000,29.000000,19.000000,375.000000,0,...,1,0,0,0,0,0,0,0,0,0
4,2,3,3520.000000,9,6,2460.000000,220.000000,20.000000,45.000000,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,2,5,1683.811578,9,8,639.294026,147.858805,34.129412,2157.646429,0,...,1,0,0,0,0,0,0,0,0,1
274,2,5,5877.960131,3,3,973.664850,178.946119,13.947543,47.896985,0,...,1,0,1,0,1,0,0,0,0,0
275,2,5,1695.923184,9,8,645.238373,149.047675,34.092260,2198.513813,0,...,1,0,0,0,0,0,0,0,0,1
276,2,4,1429.162420,9,6,514.312844,122.862569,34.910545,1298.400805,0,...,1,0,0,0,0,0,0,0,0,1
277,2,5,6417.577091,3,3,1235.696896,195.851413,11.580802,17.467457,0,...,1,0,1,0,1,0,0,0,0,0

In [228]:
scaler = StandardScaler()
test1 = scaler.fit_transform(test)

# исследование данных

In [ ]:
train

In [ ]:
# df.isna() - проверку на пустые значение
print(train.isna().sum())

In [ ]:
print(train.info()) #информация о датасете
print('-'*50)
train.shape

In [ ]:
print(train['Tectonic regime'].unique())
print('__'*100)
print(train['Onshore/Offshore'].unique())
print('__'*100)
print(train['Hydrocarbon type'].unique())
print('__'*100)
print(train['Reservoir status'].unique())
print('__'*100)
print(train['Structural setting'].unique())
print('__'*100)
print(train['Period'].unique())
print('__'*100)
print(train['Lithology'].unique())

In [233]:
train1=train['Tectonic regime'].str.get_dummies('/')


train1 = train1.add_prefix('Structural setting_').reset_index()
train1=train1.drop(['index'], axis=1, inplace=True)
train=pd.concat([train, train1], axis=1)
train=train.drop(['Tectonic regime'], axis=1)

d={'ONSHORE' : 0, 'OFFSHORE': 1, 'ONSHORE-OFFSHORE': 2}
train['Onshore/Offshore']=train['Onshore/Offshore'].map(d)

label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train['Hydrocarbon type']) 
train['Hydrocarbon type'] = label_encoder.transform(train['Hydrocarbon type']) 

label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train['Reservoir status']) 
train['Reservoir status'] = label_encoder.transform(train['Reservoir status']) 

label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train['Period']) 
train['Period'] = label_encoder.transform(train['Period']) 

label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train['Lithology']) 
train['Lithology'] = label_encoder.transform(train['Lithology'])

train1=train['Structural setting'].str.get_dummies('/')
train=pd.concat([train, train1], axis=1)
train=train.drop(['Structural setting'], axis=1)

In [235]:
from imblearn.over_sampling import SMOTE

os = SMOTE(random_state=0, k_neighbors=3)

X= train.drop(['Onshore/Offshore'], axis=1)
y = train['Onshore/Offshore']

column = X.columns

print("До балансировки")
print(X.shape)
print(y.value_counts())

os_data_X, os_data_y = os.fit_resample(X, y)
os_data_X = pd.DataFrame(data=os_data_X, columns=column)
os_data_y = pd.DataFrame(data=os_data_y, columns=['Onshore/Offshore'])

print("После балансировки")
print(os_data_X.shape)
print(os_data_y.value_counts())

До балансировки
(355, 22)
0    177
1    173
2      5
Name: Onshore/Offshore, dtype: int64
После балансировки
(531, 22)
Onshore/Offshore
0                   177
1                   177
2                   177
dtype: int64

In [237]:
os_data_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Hydrocarbon type  531 non-null    int64
 1   Reservoir status  531 non-null    int64
 2   Depth             531 non-null    float64
 3   Period            531 non-null    int64
 4   Lithology         531 non-null    int64
 5   Gross             531 non-null    float64
 6   Netpay            531 non-null    float64
 7   Porosity          531 non-null    float64
 8   Permeability      531 non-null    float64
 9   BACKARC           531 non-null    int64
 10  DELTA             531 non-null    int64
 11  FOREARC           531 non-null    int64
 12  FORELAND          531 non-null    int64
 13  INTRACRATONIC     531 non-null    int64
 14  INVERSION         531 non-null    int64
 15  PASSIVE           531 non-null    int64
 16  RIFT              531 non-null    int64
 17  SALT              531 non-null    int64
 18  SUB-SALT          531 non-null    int64
 19  SUB-THRUST        531 non-null    int64
 20  THRUST            531 non-null    int64
 21  WRENCH            531 non-null    int64
dtypes: float64(5), int64(17)
memory usage: 91.4 KB

In [ ]:
test

In [251]:
column1=os_data_X.columns
column2=test.columns


cols=set(column1) & set (column2)
train=os_data_X[cols]
test=test[cols]

In [252]:
len(cols)

22

In [253]:
train.info

<bound method DataFrame.info of      Lithology  INTRACRATONIC  SALT   Porosity  BACKARC  Hydrocarbon type  \
0           10              0     0   5.000000        0                 4
1           10              0     1  16.000000        0                 2
2            6              0     0   8.000000        0                 4
3           10              0     1  14.984042        0                 4
4           10              0     0   9.500000        0                 4
..         ...            ...   ...        ...      ...               ...
526         12              0     0  25.591712        0                 4
527         12              0     0  32.395297        0                 4
528         10              0     0  34.720696        0                 4
529          9              0     0  17.506705        0                 4
530         12              0     0  34.330083        0                 4

     Reservoir status  INVERSION  THRUST  DELTA  ...      Netpay  \
0                   5          0       0      0  ...  575.000000
1                   7          0       0      0  ...  490.000000
2                   2          0       0      0  ...   21.000000
3                   4          0       0      0  ...   41.595776
4                   6          0       0      0  ...   15.000000
..                ...        ...     ...    ...  ...         ...
526                 5          0       0      0  ...  320.813525
527                 5          0       0      0  ...  151.799412
528                 4          0       0      0  ...  120.492889
529                 2          0       0      0  ...  153.523534
530                 5          0       0      0  ...  141.437329

     Permeability  PASSIVE  FORELAND  SUB-THRUST  SUB-SALT  Period  RIFT  \
0        0.100000        0         1           0         0      13     0
1       10.000000        0         0           0         0       9     1
2        0.500000        0         1           0         0      16     0
3       29.920211        0         1           0         0       6     1
4       10.000000        0         1           0         0       6     0
..            ...      ...       ...         ...       ...     ...   ...
526    327.751366        0         0           0         0      12     0
527   2079.353327        0         0           0         0      11     0
528   1181.927407        0         0           0         0      11     0
529     93.657639        0         0           0         0      18     0
530   1936.908201        0         0           0         0      11     0

     WRENCH  FOREARC
0         0        0
1         0        0
2         0        0
3         0        0
4         0        0
..      ...      ...
526       0        0
527       0        0
528       0        0
529       0        0
530       1        0

[531 rows x 22 columns]>

In [254]:
os_data_y.info

<bound method DataFrame.info of      Onshore/Offshore
0                   0
1                   1
2                   0
3                   1
4                   0
..                ...
526                 2
527                 2
528                 2
529                 2
530                 2

[531 rows x 1 columns]>

In [255]:
X=train

X_train,X_test,y_train,y_test = train_test_split(X, os_data_y, test_size=1/3, random_state=42)

In [256]:
scaler = StandardScaler()
X_st = scaler.fit_transform(X)

# xgb regration

In [258]:
r=list(X_train.columns)
r.sort()
r

['BACKARC',
 'DELTA',
 'Depth',
 'FOREARC',
 'FORELAND',
 'Gross',
 'Hydrocarbon type',
 'INTRACRATONIC',
 'INVERSION',
 'Lithology',
 'Netpay',
 'PASSIVE',
 'Period',
 'Permeability',
 'Porosity',
 'RIFT',
 'Reservoir status',
 'SALT',
 'SUB-SALT',
 'SUB-THRUST',
 'THRUST',
 'WRENCH']

In [259]:
len(set(X_train.columns))

22

In [260]:
xgb_clf = xgb.XGBClassifier(max_depth=3, n_estimators=100,
                            objective='binary:logistic', booster='gbtree',
                            n_jobs=2, random_state=1)
xgb_clf.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(n_jobs=2, objective='multi:softprob', random_state=1)

In [261]:
y_pred = xgb_clf.predict(X_test)

print(accuracy_score(y_test,y_pred), "-точность модели")

0.8983050847457628 -точность модели

In [262]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354 entries, 432 to 102
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Lithology         354 non-null    int64
 1   INTRACRATONIC     354 non-null    int64
 2   SALT              354 non-null    int64
 3   Porosity          354 non-null    float64
 4   BACKARC           354 non-null    int64
 5   Hydrocarbon type  354 non-null    int64
 6   Reservoir status  354 non-null    int64
 7   INVERSION         354 non-null    int64
 8   THRUST            354 non-null    int64
 9   DELTA             354 non-null    int64
 10  Depth             354 non-null    float64
 11  Gross             354 non-null    float64
 12  Netpay            354 non-null    float64
 13  Permeability      354 non-null    float64
 14  PASSIVE           354 non-null    int64
 15  FORELAND          354 non-null    int64
 16  SUB-THRUST        354 non-null    int64
 17  SUB-SALT          354 non-null    int64
 18  Period            354 non-null    int64
 19  RIFT              354 non-null    int64
 20  WRENCH            354 non-null    int64
 21  FOREARC           354 non-null    int64
dtypes: float64(5), int64(17)
memory usage: 63.6 KB

In [263]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Lithology         278 non-null    int64
 1   INTRACRATONIC     278 non-null    int64
 2   SALT              278 non-null    int64
 3   Porosity          278 non-null    float64
 4   BACKARC           278 non-null    int64
 5   Hydrocarbon type  278 non-null    int64
 6   Reservoir status  278 non-null    int64
 7   INVERSION         278 non-null    int64
 8   THRUST            278 non-null    int64
 9   DELTA             278 non-null    int64
 10  Depth             278 non-null    float64
 11  Gross             278 non-null    float64
 12  Netpay            278 non-null    float64
 13  Permeability      278 non-null    float64
 14  PASSIVE           278 non-null    int64
 15  FORELAND          278 non-null    int64
 16  SUB-THRUST        278 non-null    int64
 17  SUB-SALT          278 non-null    int64
 18  Period            278 non-null    int64
 19  RIFT              278 non-null    int64
 20  WRENCH            278 non-null    int64
 21  FOREARC           278 non-null    int64
dtypes: float64(5), int64(17)
memory usage: 47.9 KB

In [264]:
y_pred = xgb_clf.predict(test)
y_pred

array([0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 2, 0, 1, 0, 2, 1, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 1, 2, 1,
       1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1,
       2, 2, 2, 1, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 2, 1,
       1, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1,
       2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2,
       1, 2, 1, 2, 2, 1, 1, 2, 2, 2, 2, 1, 2, 1, 1, 2, 1, 2, 2, 1, 2, 2,
       1, 2, 2, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2,
       1, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 1])

In [265]:

ans=pd.DataFrame(y_pred)
ans['index']=21
ind=ans.index
ans['index']=ind
d={ 0: 'ONSHORE',  1 :'OFFSHORE',  2: 'ONSHORE-OFFSHORE'}
ans['Onshore/Offshore']=ans[0].map(d)
ans=ans.drop([0], axis=1)


ans

     index  Onshore/Offshore
0        0           ONSHORE
1        1          OFFSHORE
2        2          OFFSHORE
3        3           ONSHORE
4        4          OFFSHORE
..     ...               ...
273    273  ONSHORE-OFFSHORE
274    274          OFFSHORE
275    275  ONSHORE-OFFSHORE
276    276  ONSHORE-OFFSHORE
277    277          OFFSHORE

[278 rows x 2 columns]

In [266]:
ans.to_csv('name.csv',index=False)
files.download("name.csv")

# метод ближних соседей с маштабированием

In [97]:
scores = []
for i in range(1,20):

    knn = KNeighborsClassifier(i)
    knn.fit(X_train_m,y_train_m)
    answers = knn.predict(X_test_m)
    
    scores.append(knn.score(X_test_m,y_test_m))

print(scores)

[0.8067226890756303, 0.7394957983193278, 0.7478991596638656, 0.7394957983193278, 0.7899159663865546, 0.7815126050420168, 0.7899159663865546, 0.7899159663865546, 0.7647058823529411, 0.7983193277310925, 0.773109243697479, 0.773109243697479, 0.7647058823529411, 0.773109243697479, 0.7815126050420168, 0.8067226890756303, 0.8067226890756303, 0.8067226890756303, 0.8151260504201681]

In [98]:
max_score = max(scores)
scores_ind = [i for i, v in enumerate(scores) if v == max_score]
scores_ind

[18]

In [99]:
knn = KNeighborsClassifier(1)

knn.fit(X_train_m, y_train_m)


y_pred = knn.predict(X_test)

print(accuracy_score(y_test,y_pred), "-точность модели")

0.453781512605042 -точность модели

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

# метод ближайших соседей без маштабирования 79%

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=1/3, random_state=42)

In [ ]:
scores = []
for i in range(1,20):

    knn = KNeighborsClassifier(i)
    knn.fit(X_train,y_train)
    answers = knn.predict(X_test)
    
    scores.append(knn.score(X_test,y_test))

print(scores)

[0.7647058823529411, 0.7899159663865546, 0.7310924369747899, 0.773109243697479, 0.7563025210084033, 0.7226890756302521, 0.6974789915966386, 0.6890756302521008, 0.7226890756302521, 0.7058823529411765, 0.7058823529411765, 0.6722689075630253, 0.6890756302521008, 0.6386554621848739, 0.680672268907563, 0.6386554621848739, 0.6890756302521008, 0.6722689075630253, 0.6974789915966386]

In [ ]:
max_score = max(scores)
scores_ind = [i for i, v in enumerate(scores) if v == max_score]
scores_ind

[1]

In [ ]:
knn = KNeighborsClassifier(2)

knn.fit(X_train, y_train)


y_pred = knn.predict(X_test)

print(accuracy_score(y_test,y_pred), "-точность модели")

0.7899159663865546 -точность модели

# дерево решений с маштабированием 53%

In [ ]:
from sklearn.tree import DecisionTreeClassifier
# DecisionTreeRegression
from sklearn.model_selection import train_test_split


tree = DecisionTreeClassifier(max_depth=8, random_state=1)
# model = LogistiResression()
# knn = KNearestNeighbor()

tree.fit(X_train_m, y_train_m)
y_pred_tree = tree.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
print("Accuracy:", accuracy_score(y_test,y_pred_tree))

Accuracy: 0.5378151260504201

In [ ]:
y_pred = knn.predict(test1)
y_pred

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
ans=pd.DataFrame(y_pred)
ans['index']=21
ind=ans.index
ans['index']=ind
d={ 0: 'ONSHORE',  1 :'OFFSHORE',  2: 'ONSHORE-OFFSHORE'}
ans['Onshore/Offshore']=ans[0].map(d)
ans=ans.drop([0], axis=1)

In [ ]:
ans.to_csv('name.csv',index=False)
files.download("name.csv")

# дерево решений без маштабированием 85%

In [ ]:
from sklearn.tree import DecisionTreeClassifier
# DecisionTreeRegression
from sklearn.model_selection import train_test_split


tree = DecisionTreeClassifier(max_depth=4, random_state=1)
# model = LogistiResression()
# knn = KNearestNeighbor()

tree.fit(X_train, y_train)
y_pred_tree = tree.predict(X_test)

In [ ]:
print("Accuracy:", accuracy_score(y_test,y_pred_tree))

Accuracy: 0.8487394957983193

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)

answers_pred = model.predict(X_test)
answers_pred
#print("Accuracy:", accuracy_score(y_test,answers_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

array([1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 1])

# тестовая выборка

In [ ]:
y_pred = model.predict(test1)
y_pred

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 2, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 0, 0, 2, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1])

In [ ]:


ans=pd.DataFrame(y_pred)
ans['index']=21
ind=ans.index
ans['index']=ind
d={ 0: 'ONSHORE',  1 :'OFFSHORE',  2: 'ONSHORE-OFFSHORE'}
ans['Onshore/Offshore']=ans[0].map(d)
ans=ans.drop([0], axis=1)


ans

     index Onshore/Offshore
0        0         OFFSHORE
1        1          ONSHORE
2        2         OFFSHORE
3        3          ONSHORE
4        4         OFFSHORE
..     ...              ...
273    273          ONSHORE
274    274         OFFSHORE
275    275          ONSHORE
276    276          ONSHORE
277    277         OFFSHORE

[278 rows x 2 columns]

In [ ]:
ans.to_csv('name.csv',index=False)
files.download("name.csv")