

**Задание 1.**

Задан Series объект s, найти индекс первого элемента отсортированного s, где значения больше 5.

In [ ]:
import pandas as pd
import numpy as np
r = np.random.RandomState(1)
s = pd.Series(r.uniform(0, 10, 100))
s1 = s.sort_values()[s>5]
s1.index[0]

67


**Задание 2.**

Имеется небольшой игрушечный DataFrame, в котором необходимо провести несколько типов фильтраций и отобразить результат:

*всех, кто старше 40:*

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])

df[df["возраст"]>40]

    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен

*всех, кто имеет доход выше среднего по датасету:*

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])
df[df["доход"]>df["доход"].mean()]

    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен

*всех, кто имеет доход выше среднего по датасету, но надежность ниже среднего по датасету:*

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])
df[(df['доход']>df['доход'].mean()) & (df['надежность клиента (0..1)']<df['надежность клиента (0..1)'].mean())]

создать новые столбцы:

важность клиента = доход * надежность:

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])
df['важность клиента'] = df['надежность клиента (0..1)']*df['доход']
df

возможная долгосрочность клиента = важность клиента * (средний возраст по датасету - возраст клиента):

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])
df['важность клиента'] = df['надежность клиента (0..1)']*df['доход']
df['возможная долгосрочность клиента'] = df['важность клиента']*(df['возраст'].mean()-df['возраст'])
df

**Задание 4.1.**

Имеется датафрейм со столбцами:

страна
население данной страны
площадь
1. Создайте новые столбцы, которые будут содержать:

Коды страны: 'KZ', 'RU', 'BY', 'UA'
Плотность населения = население (в миллионах) поделить на площадь страны
2. Добавьте в датафрейм данные еще о двух странах:

USA; 329,5; 9834
United Kingdom; 55,98; 130279
3. Найдите среднюю площадь всех стран

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 207600, 603628]})
df['код страны'] =  ['KZ', 'RU', 'BY', 'UA']
df['Плотность населения'] = df['population']*10**6/df['square']
df2 = pd.DataFrame([['USA', 329.5, 9834], ['United Kingdom', 55.98, 130279]], columns=['country', 'population', 'square'])
df_new = pd.concat([df, df2], ignore_index=True)
print(df_new)
print()
print(df_new['square'].mean())

          country  population    square код страны  Плотность населения
0      Kazakhstan       17.04   2724902         KZ             6.253436
1          Russia      143.50  17125191         RU             8.379469
2         Belarus        9.50    207600         BY            45.761079
3         Ukraine       45.50    603628         UA            75.377550
4             USA      329.50      9834        NaN                  NaN
5  United Kingdom       55.98    130279        NaN                  NaN

3466905.6666666665