Задание 1.

Задан Series объект s, найти индекс первого элемента отсортированного s, где значения больше 5.

In [9]:
import numpy as np
import pandas as pd

r = np.random.RandomState(1)
s = pd.Series(r.uniform(0, 10, 100))

s1 = s[s > 5]

#print(s)
#print(s1)

ans = s1.index[0]
print(ans)

1

Задание 2.

Имеется небольшой игрушечный DataFrame, в котором необходимо провести несколько типов фильтраций и отобразить результат:

всех, кто старше 40

всех, кто имеет доход выше среднего по датасету

всех, кто имеет доход выше среднего по датасету, но надежность ниже среднего по датасету

создать новые столбцы:

важность клиента = доход * надежность

возможная долгосрочность клиента = важность клиента * (средний возраст по датасету - возраст клиента)

In [26]:
# создадим тестовый датасет
df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])

mean_income = df['доход'].astype(float).mean()
#print(mean_income)

mean_rlb = df['надежность клиента (0..1)'].astype(float).mean()
mean_age = df['возраст'].astype(float).mean()

df1 = df[df['возраст'] > 40]
print(df1)

print('-'*20)

df2 = df[df['доход'] > mean_income]
print(df2)

print('-'*20)

df3 = df[(df['доход'] > mean_income) & (df['надежность клиента (0..1)'] < mean_rlb)]
print(df3)

print('-'*20)

df['важность клиента'] = df['доход'] * df['надежность клиента (0..1)']
df['возможная долгосрочность клиента'] = df['важность клиента'] * (mean_age - df['возраст'])
print(df)

    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен
--------------------
    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен
--------------------
    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
--------------------
     имя  возраст  ...  важность клиента  возможная долгосрочность клиента
0   Петя       45  ...           65000.0                         -763750.0
1   Вася       26  ...           59200.0                          429200.0
2    Аня       41  ...          130500.0                        -1011375.0
3  Света       21  ...           40800.0                          499800.0

[4 rows x 7 columns]

Задание 3.

Как объединить два DataFrame по двум столбцам так, чтобы остались только общие строки?

Объедините df1 и df2 по столбцам fruit-frukt и weight-ves.

In [53]:
ddf1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['low', 'medium', 'high'] * 3,
                    'price': np.random.randint(0, 100, 9)})

ddf2 = pd.DataFrame({'frukt': ['apple', 'banana', 'melon'] * 2,
                    'ves': ['low', 'high'] * 3,
                    'price': np.random.randint(0, 100, 6)})

ddff2 = pd.DataFrame({'fruit': ddf2['frukt'],
                      'weight': ddf2['ves'],
                      'price': ddf2['price']})

print(ddf1)
print('-'*20)
print(ddf2)
print('-'*20)

ddf3 = pd.concat([ddf1, ddff2], ignore_index=True)
print(ddf3)

    fruit  weight  price
0   apple     low     34
1  banana  medium     33
2  orange    high     56
3   apple     low     83
4  banana  medium     57
5  orange    high      2
6   apple     low      7
7  banana  medium     60
8  orange    high     38
--------------------
    frukt   ves  price
0   apple   low     68
1  banana  high     59
2   melon   low     34
3   apple  high     22
4  banana   low     12
5   melon  high     74
--------------------
     fruit  weight  price
0    apple     low     34
1   banana  medium     33
2   orange    high     56
3    apple     low     83
4   banana  medium     57
5   orange    high      2
6    apple     low      7
7   banana  medium     60
8   orange    high     38
9    apple     low     68
10  banana    high     59
11   melon     low     34
12   apple    high     22
13  banana     low     12
14   melon    high     74

Задание 4.2.

Кто делает: Иванова, Мозговой, Озеров, Павлюк, Полосин, Чернов

Имеется датасет со следующими столбцами:

fruit: название фрукта

price: цена за кг

quantity: сколько кг имеется сейчас на складе

1. Посчитать сколько пропусков в датасете и удалить строки которые содержат пропуски

2. Добавить новый столбец:

Общая стоимость фрукта = количество на складе*цену за кг
3. Создать новый датасет, в котором содержать данные еще о трех фруктах:

Apple; 25; 100
Melon; 30; 55
Peach; 98; 11
Соединить два датафрейма и удалить повторы.

In [82]:
ddf = pd.DataFrame({
    'fruit': ['Apple', 'Watermelon', 'Cherry', 'Orange', 'Banana'],
    'price': [25, 33.5, 19.5, 9.6, 10],
    'quantity': [100, 34, np.NaN, 56, 120]})

print(ddf)
print('-'*20)

null_numb = sum(ddf.isna().sum())
print('Количество пустых ячеек: ', null_numb)

print('-'*20)

ddf.dropna(axis = 0, how='any', inplace=True)
print(ddf)

ddf['общая стоимость'] = ddf['price'] * ddf['quantity']
print('-'*20)
print(ddf)

newddf = pd.DataFrame({
    'fruit': ['Apple', 'Melon', 'Peach'],
    'price': [25, 30, 98],
    'quantity': [100, 55, 11],
    'общая стоимость': newddf['price'] * newddf['quantity']})
print('-'*20)
print(newddf)

ansddf = pd.concat([ddf, newddf], ignore_index=True)
print('-'*20)
print(ansddf)

ansddf = ansddf.drop_duplicates()

print('-'*20)
print(ansddf)

        fruit  price  quantity
0       Apple   25.0     100.0
1  Watermelon   33.5      34.0
2      Cherry   19.5       NaN
3      Orange    9.6      56.0
4      Banana   10.0     120.0
--------------------
Количество пустых ячеек:  1
--------------------
        fruit  price  quantity
0       Apple   25.0     100.0
1  Watermelon   33.5      34.0
3      Orange    9.6      56.0
4      Banana   10.0     120.0
--------------------
        fruit  price  quantity  общая стоимость
0       Apple   25.0     100.0           2500.0
1  Watermelon   33.5      34.0           1139.0
3      Orange    9.6      56.0            537.6
4      Banana   10.0     120.0           1200.0
--------------------
   fruit  price  quantity  общая стоимость
0  Apple     25       100             2500
1  Melon     30        55             1650
2  Peach     98        11             1078
--------------------
        fruit  price  quantity  общая стоимость
0       Apple   25.0     100.0           2500.0
1  Watermelon   33.5      34.0           1139.0
2      Orange    9.6      56.0            537.6
3      Banana   10.0     120.0           1200.0
4       Apple   25.0     100.0           2500.0
5       Melon   30.0      55.0           1650.0
6       Peach   98.0      11.0           1078.0
--------------------
        fruit  price  quantity  общая стоимость
0       Apple   25.0     100.0           2500.0
1  Watermelon   33.5      34.0           1139.0
2      Orange    9.6      56.0            537.6
3      Banana   10.0     120.0           1200.0
5       Melon   30.0      55.0           1650.0
6       Peach   98.0      11.0           1078.0