**Домашяя работа №2**

***Задача 1.***

Даны четыре действительных числа: x1, y1, x2, y2. Напишите функцию distance(x1, y1, x2, y2), вычисляющая расстояние между точкой (x1,y1) и (x2,y2).

In [21]:
def distance(x1, y1, x2, y2):
  return ((((x1 - x2) ** 2) + ((y1 - y2) ** 2)) ** 0.5)

pointOne = (1, 1)
pointTwo = (2, 2)

print(distance(pointOne[0], pointOne[1], pointTwo[0], pointTwo[1]))

1.4142135623730951

***Задача 2.***

Написать функцию season(month), принимающую 1 аргумент — номер месяца (от 1 до 12), которая присваивает глобальной переменной s время года, которому этот месяц принадлежит (зима, весна, лето или осень).

In [25]:
def season(month):
  global s
  if (month >= 3 and month <= 5):
    s = "Весна"
  elif (month >= 6 and month <= 8):
    s = "Лето"
  elif (month >= 9 and month <= 11):
    s = "Осень"
  else:
    s = "Зима"

s = ""
season(6)
print(s)

Лето

***Задача 3.***

Написать функцию is_prime, принимающую 1 аргумент — число от 0 до 1000, и возвращающую True, если оно простое, и False - иначе.

In [31]:
def is_prime(num):
  for i in range(2, int(num/2)):
    if num % i == 0:
      return True
  return False

num = 37
print(f"число {num}  ---  {is_prime(num)}")
num = 15
print(f"число {num}  ---  {is_prime(num)}")

число 37  ---  False
число 15  ---  True

***Задача 4.***

Написать функцию reverse_list(lst), которая принимает в качестве аргумента список и возвращаем его в перевернутом виде.

Например,

исходный спискок: 8, 1, 0, 4
полученный спискок: 4, 0, 1, 8
Использовать встроенные функции Python нельзя.

In [36]:
def reveseList(mList):
  listLen = len(mList)
  for idx in range(int(listLen/2)):
    bufVal =  mList[idx]
    mList[idx] = mList[listLen - 1 - idx]
    mList[listLen - 1 - idx] = bufVal

mList = [1, 2, 3, 4, 5]
print(f"Before reverse - {mList}")
reveseList(mList)
print(f"After reverse  - {mList}")

Before reverse - [1, 2, 3, 4, 5]
After reverse  - [5, 4, 3, 2, 1]

***Задача 5.***

Распечатайте с 4 по 8 символ фразы "Привет мир!" приведенные к верхнему регистру.

In [44]:
phrase = list("Привет мир!")
outPhrase = ""

for idx in range(len(phrase)):
  if (idx >= 3 and idx <= 7):
    phrase[idx] = phrase[idx].upper()
  outPhrase += phrase[idx]

print(outPhrase)

ПриВЕТ Мир!


***Задача 6.***

Напишите код, который все элементы массива x с нечетными индексами переставит в обратном порядке.

Т.е. если x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], то код должен получать [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [49]:
mList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for idx in range(int(len(mList)/2)):
  if (idx % 2 == 1):
    addOne = 0
    buf = mList[len(mList) - (len(mList) % 2) - idx]
    mList[len(mList) - (len(mList) % 2) - idx] = mList[idx]
    mList[idx] = buf

print(mList)

[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

***Задача 7.***

Напишите цикл, который выводит все числа от 0 до 500, делящиеся на 7, если в них есть цифра 8.

In [51]:
for i in range(0, 501):
  if (i % 7 == 0 and str(i).find("8") != -1):
    print(i)

28
84
98
168
182
189
238
280
287
308
378
385
448
483


***Задача 8.***

На вход функция more_than_five(lst) получает список из целых чисел. Результатом работы функции должен стать новый список, в котором содержатся только те числа, которые больше 10 по модулю.

In [52]:
def moreThenFive(mList):
  outList = []
  for i in mList:
    if (abs(i) > 10):
      outList.append(i)
  return outList 

mList = [-12, -213, -3, 3, 56, 10, 30]
print(moreThenFive(mList))

[-12, -213, 56, 30]