

Задача 1.

Даны четыре действительных числа: x1, y1, x2, y2. Напишите функцию distance(x1, y1, x2, y2), вычисляющая расстояние между точкой (x1,y1) и (x2,y2).

In [2]:
def distance(x1, y1, x2, y2):
  return ((x1-x2)**2 + (y1-y2)**2)**(0.5)



Задача 2.

Написать функцию season(month), принимающую 1 аргумент — номер месяца (от 1 до 12), которая присваивает глобальной переменной s время года, которому этот месяц принадлежит (зима, весна, лето или осень).

In [7]:
s = ""
def season(month):
  global s
  if month in [1, 2, 12]:
    s = "Зима"
  if month in [3, 4, 5]:
    s = "Весна"
  if month in [6, 7, 8]:
    s = "Лето"
  if month in [9, 10, 11]:
    s = "Осень"
season(10)
print(s)

Осень

Написать функцию is_prime, принимающую 1 аргумент — число от 0 до 1000, и возвращающую True, если оно простое, и False - иначе.

In [10]:
def is_prime(n):
    i = 2
    while i * i <= n and n % i != 0:
        i += 1
    return i * i > n

False

Написать функцию reverse_list(lst), которая принимает в качестве аргумента список и возвращаем его в перевернутом виде.

Например,

    исходный спискок: 8, 1, 0, 4
    полученный спискок: 4, 0, 1, 8

Использовать встроенные функции Python нельзя.

In [12]:
lst = [8, 1, 0, 4]
def reverse_list(lst):
  temp = []
  for i in range(len(lst)-1, -1, -1):
    temp.append(lst[i])
  return temp

print(reverse_list(lst))

[4, 0, 1, 8]



Задача 5.

Распечатайте с 4 по 8 символ фразы "Привет мир!" приведенные к верхнему регистру.

In [19]:
s = 'Привет мир!'
for i in range(len(s)):
  if ( 3 <= i <= 7):
    print(str(s[i]).upper(), end = "")
  else:
    print(s[i], end = "")

ПриВЕТ Мир!



Задача 6.

Напишите код, который все элементы массива x с нечетными индексами переставит в обратном порядке.

Т.е. если x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], то код должен получать [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [23]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
if (len(x) % 2 == 0):
  for i in range(1, len(x), 2):
    for j in range(i, len(x), 2):
      x[i], x[j] = x[j], x[i]
x

[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]



Задача 7.

Напишите цикл, который выводит все числа от 0 до 500, делящиеся на 7, если в них есть цифра 8.

In [26]:
for i in range(501):
  s = str(i)
  if "8" in s and i%7 == 0:
    print(i, end = " ")

28 84 98 168 182 189 238 280 287 308 378 385 448 483



Задача 8.

На вход функция more_than_five(lst) получает список из целых чисел. Результатом работы функции должен стать новый список, в котором содержатся только те числа, которые больше 10 по модулю.

In [30]:
def more_than_five(lst):
  b = []
  for i in range(len(lst)):
    if (abs(lst[i]) > 10):
      b.append(lst[i])
  return b