In [ ]:
from math import sqrt
def f(x1,y1,x2,y2):
  return sqrt((x1-x2)**2+(y1-y2)**2)
x1,y1,x2,y2=map(float,input().split(' '))
print(f(x1,y1,x2,y2))

1 1 2 2

In [5]:
def season(month):
  if month==12 and month>=1 and month<=2:
    return("ЗИМА")
  elif month>=3 and month<=5:
    return("ВЕСНА")
  elif month>=6 and month <=8:
    return("ЛЕТО")
  else:
    return("ОСЕНЬ")
month=int(input())
print(season(month))

6
ЛЕТО

In [7]:
def is_prime(number):
  c=0
  for i in range(1,number+1):
    if number%i==0:
      c+=1
  if c==2:
    return(True)
  else:
    return(False)
number=int(input())
print(is_prime(number))

15
False

In [17]:
def reverse_list(lst):
    newlst=lst[::-1]
    return newlst
lst = [8, 1, 0, 4]
print (reverse_list(lst))

[4, 0, 1, 8]

In [21]:
s="Привет мир!"
print(s[4:9])

ет ми

In [23]:
x=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
x[1::2]=reversed(x[1::2])
print(x)

[0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [24]:
for i in range(500):
  if i%7==0 and '8' in str(i):
    print(i)

28
84
98
168
182
189
238
280
287
308
378
385
448
483

In [25]:
def more_than_10(lst):
  arr=[]
  for i in lst:
    if abs(i)>10:
      arr.append(i)
  return arr
lst=[1,15,-120,76,98]
print(more_than_10(lst))

[15, -120, 76, 98]